<a href="https://colab.research.google.com/github/anirudh14397/Uber-Driver-Data-Analysis/blob/main/Uber_drivers_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!gdown 1YiGNTm-OFuBreQfcljUal7HmfaRbmgSp

Downloading...
From: https://drive.google.com/uc?id=1YiGNTm-OFuBreQfcljUal7HmfaRbmgSp
To: /content/UberDrives.csv
100% 74.4k/74.4k [00:00<00:00, 56.4MB/s]

In [ ]:
import pandas as pd
data = pd.read_csv('UberDrives.csv')

In [ ]:
data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,NaN
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,NaN
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7

## More on missing values
We will look at two new methods, ```ffill``` and ```bfill```

In [ ]:
sample_df = data.head(10)
sample_df

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,NaN
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,NaN
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3
6,1/6/2016 17:30,1/6/2016 17:35,Business,West Palm Beach,Palm Beach,7.1
7,1/7/2016 13:27,1/7/2016 13:33,Business,Cary,Cary,0.8
8,1/10/2016 8:05,1/10/2016 8:25,Business,Cary,Morrisville,NaN
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5

In [ ]:
sample_df.fillna(method='ffill')#forward fill

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,NaN
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,NaN
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3
6,1/6/2016 17:30,1/6/2016 17:35,Business,West Palm Beach,Palm Beach,7.1
7,1/7/2016 13:27,1/7/2016 13:33,Business,Cary,Cary,0.8
8,1/10/2016 8:05,1/10/2016 8:25,Business,Cary,Morrisville,0.8
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5

In [ ]:
sample_df.fillna(method='bfill')# backward fill

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,4.7
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,4.7
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.7
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3
6,1/6/2016 17:30,1/6/2016 17:35,Business,West Palm Beach,Palm Beach,7.1
7,1/7/2016 13:27,1/7/2016 13:33,Business,Cary,Cary,0.8
8,1/10/2016 8:05,1/10/2016 8:25,Business,Cary,Morrisville,16.5
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5

In [ ]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  10 non-null     object
 1   END_DATE*    10 non-null     object
 2   CATEGORY*    10 non-null     object
 3   START*       10 non-null     object
 4   STOP*        10 non-null     object
 5   MILES*       6 non-null      float64
dtypes: float64(1), object(5)
memory usage: 608.0+ bytes

In [ ]:
sample_df.fillna(0).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  10 non-null     object
 1   END_DATE*    10 non-null     object
 2   CATEGORY*    10 non-null     object
 3   START*       10 non-null     object
 4   STOP*        10 non-null     object
 5   MILES*       10 non-null     float64
dtypes: float64(1), object(5)
memory usage: 608.0+ bytes

#### When we replace the value with string, it changes the dtype of object.

In [ ]:
sample_df.fillna('TooLessMiles').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  10 non-null     object
 1   END_DATE*    10 non-null     object
 2   CATEGORY*    10 non-null     object
 3   START*       10 non-null     object
 4   STOP*        10 non-null     object
 5   MILES*       10 non-null     object
dtypes: object(6)
memory usage: 608.0+ bytes

In [ ]:
data.describe()

           MILES*
count  577.000000
mean    10.159099
std     18.592304
min      0.500000
25%      3.000000
50%      5.900000
75%     10.300000
max    195.900000

#### So We can answer all the questions by looking at it:

- **What is the shortest journey made?** - 0.5 miles


- **What is the longest journey made?** - 310.3 miles


- **What is the average journey made?** - mean value


- **How many years of data do we have?** - Just 1 year - 2016

In [ ]:
data['MILES*'].mean()

10.159098786828423

In [ ]:
data['MILES*'].median()

5.9

In [ ]:
data['CATEGORY*'].value_counts()

Business    1078
Personal      77
Name: CATEGORY*, dtype: int64

In [ ]:
data['MILES*'].std()

18.592304202957028

In [ ]:
from scipy import stats

In [ ]:
print(stats.median_absolute_deviation(data['MILES*']))

nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `median_absolute_deviation` is deprecated, use `median_abs_deviation` instead!

To preserve the existing default behavior, use
`scipy.stats.median_abs_deviation(..., scale=1/1.4826)`.
The value 1.4826 is not numerically precise for scaling
with a normal distribution. For a numerically precise value, use
`scipy.stats.median_abs_deviation(..., scale='normal')`.

  """Entry point for launching an IPython kernel.

In [ ]:
import numpy as np

In [ ]:
# 30% of the customers take ride less than 3.2 miles
np.percentile(data['MILES*'], 30)

nan

In [ ]:
stats.iqr(data['MILES*'])

nan